<h2>Tarefas</h2>
<hr/>
<button type="button" class="btn btn-primary mb-2" [routerLink]="['/new']" > <!--direciona para a rota new-->
    Nova Tarefa
</button>

<section>

    <div *ngIf= "tasks.length ==0" class="alert alert-warning" role="alert"> <!-- exibe um alerta caso nao tenha task cadastrada no array-->
        Nenhuma Tarefa
    </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor ="let task of tasks "> <!--ng for diretiva do angular para percorer array-->
        <app-task-list-item [task] = "task" class=" task-item"></app-task-list-item> <!--passando o  task-list-item.component-->

    </li>
  </ul>
</section>
